[Unit]
Description=Cyberdeck Kivy App
After=network-online.target mosquitto.service
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/cyberdeck/cyberdeck
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/pi/cyberdeck/cyberdeck/.venv/bin/python -m app.main
Restart=on-failure

[Install]
WantedBy=graphical.target
